
/* 
=================================================
Grid
=================================================
 */

 *,
::before,
::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin-left: 30px;
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 900;
}


tr td:nth-child(1) {
    padding-right: 50px;
}
thead td {
    padding-top: 10px;
    padding-bottom: 10px;
}


td {
    text-align: center;
    border-bottom: 1px solid #f00;
    border-spacing: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

tr:last-child td {
    border-bottom: none;  
}
tr:last-child td {
     padding-top: 10px;
     padding-right: 10px;
}


/* 
==================================================
Button
==================================================
*/

button {
     display: block;
     padding: 10px 20px;
     font-size: 10px;
     border: none;
     color: #fff;
     border-radius: 4px;
}

/* 
==================================================
Tpography
==================================================
*/


table {
    border: 1px solid #f00;
    border-spacing: 0;
}

.fa-check {
    color: #00ff80;
    font-weight: 300;
}

.fa-times {
    color: #ff4500;
    font-weight: 300;
}

.bod-col td {
    border-top: 1px solid #f00;
}

.btn-1 {
    background-color: #ff4500;
}

.btn-2 {
    background-color: #1e90ff;
}

.btn-3 {
    background-color: #008081;
}

.t1 {
    background-color: #ff4500;
}

.t2 {
    background-color: #1e90ff;
}

.t3 {
    background-color: #008081;
}